@font-face {
  font-family: "RR";
  src: url("../assets/fonts/Roboto-Regular.eot");
  src: url("../assets/fonts/Roboto-Regular?#iefix") format("embedded-opentype"), url("../assets/fonts/Roboto-Regular.woff2") format("woff2"), url("../assets/fonts/Roboto-Regular.woff") format("woff"), url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "RR", sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  transition: 0.3s ease-in;
  color: #333333;
}
a:hover {
  color: #4dbd90;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
}

.img_fluid {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 17px 26px 0;
}
.header .nav {
  display: flex;
  align-items: center;
  -moz-column-gap: 34px;
       column-gap: 34px;
}

.main-screen {
  background-image: url("../assets/img/main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
}
.main-screen__wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 55px;
       column-gap: 55px;
}
.main-screen__box {
  max-width: 425px;
}
.main-screen__title {
  font-size: 38px;
  color: #ffffff;
  margin-bottom: 21px;
}
.main-screen__text {
  font-size: 20px;
  margin-bottom: 25px;
  color: #ffffff;
}
.main-screen__item {
  display: flex;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px;
}
.main-screen__button {
  border: 1px solid #000000;
  background-color: #000000;
  color: #ffffff;
  padding: 13px 23px;
  font-size: 16px;
  border-radius: 3px;
}
.main-screen__link {
  color: #000000;
}

.press {
  background-color: #3e5c50;
  padding: 28px 0 38px;
}
.press__title {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.31);
  font-size: 15px;
  text-align: center;
}
.press__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 37px;
       column-gap: 37px;
}

.device {
  margin: 70px 0;
}
.device__title {
  font-size: 29px;
  margin-bottom: 10px;
  text-align: center;
}
.device__subtitle {
  font-size: 19px;
  margin-bottom: 69px;
  text-align: center;
}
.device__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 230px);
  grid-template-rows: auto;
  gap: 20px 14px;
}
.device__box {
  margin-top: 30px;
}
.device__img, .device__box:nth-child(2), .device__box:nth-child(3) {
  grid-column: span 2;
}
.device__box:nth-child(n+4) {
  margin-top: 71px;
  font-size: 15px;
  max-width: 197px;
}
.device__name {
  font-size: 21px;
  margin: 11px 0 17px;
}
.device__text {
  max-width: 390px;
  line-height: 1.4;
}
.device .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}
.device .icon.web {
  background-image: url("../assets/img/icon/comp.svg");
}
.device .icon.mobile {
  background-image: url("../assets/img/icon/cloud.svg");
}
.device .icon.dashboard {
  background-image: url("../assets/img/icon/dashboard.svg");
}
.device .icon.rules {
  background-image: url("../assets/img/icon/custom.svg");
}
.device .icon.presets {
  background-image: url("../assets/img/icon/presets.svg");
}
.device .icon.metrics {
  background-image: url("../assets/img/icon/metrics.svg");
}